body {
    font-family: Verdana;
    background-color: lightblue;
}

p {
    font-size: small;
}

.big {
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    height: 930px;
    width: 900px;
}

canvas {
    border: 2px solid black;
}